.cardList {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.cardList__item {
    margin-top: 20px;
}

@media screen and (min-width: 768px),print {
    .cardList {
        flex-direction: row;
        justify-content: space-between;
        flex: wrap;
    }
    .cardList__item {
        width: calc(100% - 20px) / 2;
    }
}
    