.cardList__item + .cardList__item {
    margin-top: 30px;
}

@media screen and (min-width: 7608px),print {
    .cardList {
        display: flex;
        justify-content: space-between;
    }
    .cardList__item {
        width: calc((100% - 60px) / 3);
    }
    .cardList__item + .cardList__item {
        margin-top: 0;
    }
    
}